* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 0px;
  font-size: 16px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav input{
	float: right;
	display: block;
	text-align: left;
	padding: 14px 16px;
	margin-right: 8px;
}

.topnav a:active{
	background-color: #FFFFFF;
	color: #aaa;

}


.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 8px 32px 0 rgba(0, 0, 0, 0.3);

}

footer{
  background-color: #aaa;
  padding: 20px;
  text-align: center;

}

.list-group-item{
	margin: 8px;
}